.player{
    height: 100%; 
    width: 600px; 
    position: fixed; 
    z-index: 1; 
    top: 350px; 
    left: 150px;
    bottom: 100px;
    overflow-x: hidden;
}

.player h2{
    color: white;
    text-align: center;
    font-size: xxx-large;
    padding-bottom: 20px;
}

.player-component {
    background-color: beige;
    /* max-width: 600px; */
    padding-bottom: 2em;
    border-radius: 20px;
    text-align: center;
}

.player-component h2 {
    padding: .8rem;
    font-size: xx-large;
    color: rgb(59, 70, 139);
}

.player-component p, .player-component h3 {
    color: rgb(59, 70, 139);
}

.select-component select {
    border-radius: 18px;
    width: 20rem;
    height: 3.5rem;
    padding: 2%;
    font-size: 1.2rem;
}

.select-component h2{
    font-size: xx-large;
}

.musicImage {
    border-radius: 10%;
    width: 80%;
}

.music-buttons button:hover{
    background-color: purple !important;
    transition-duration: 0.5s;
    transform: scale(1);
}

.playButton :hover{
    color: white;
    transform: scale(1);
}

.playButton {
    border: none;
    align-items: center;
    box-shadow: none;
    width: 4em;
    height: 4em;
    background-color: beige;
}

.songTitle {
    font-size: xx-large;
    color: black;
    margin-bottom: 10px;
    margin-top: 15px;
}

.artistSubTitle {
    color: black;
    font-size: x-large;
    font-weight: bold;
}

.time {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: larger;
}

.time p{
    color: black;
}

.timeline {
    width: 80%;
    background-color: #27ae60;
    box-shadow: none;
    padding-left: 0;
}


input[type="range"] {
    background-color: #27ae60;
}

@media (max-width:200px) {
    .player-component, .musicImage{
        width: 70%;
    }
}