.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 30px;
    padding-top: 150px;
}

.tl-section{
    padding-top: 200px;
    font-weight: 40px;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    margin-left: 200px;
}

.tl-section h1{
    font-size: 3.5rem;
    margin-left: 30px;
}

.timeline-heading-contents {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.timeline-heading-contents h1 {
    padding-right: 20px;
}

#filter-timeline-slaps-button {
    height: 70px;
    width: 250px;
    font-size: 1.4rem;
    border-radius: 100px;
    font-size: 1.4rem;
    background-color: orange;
    border-radius: 100px;
    font-weight: 700;

}

.user-search input {
    margin-left: 3%;
    height: 70px;
    border-radius: 100px;
    font-size: 1.4rem;
    font-weight: 700;
}

.user-search input:hover {
    font-size: 1.4rem;
}

.timeline-filters {
    display: flex;
    flex-direction: row;
}