.modal-background {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
backdrop-filter: blur(4px);
display: flex;
align-items: center;
justify-content: center;
}

.modal-content {
background-color: white;
opacity: 80%;
padding: 20px;
width: 70rem;
height: 50rem;
border-radius: 8px;
}

.modal-close {
position: absolute;
top: 20%;
right: 27%;
background-color: rgb(118, 134, 234);
border: none;
font-size: 24px;
cursor: pointer;
color: white;
}

.modal-background h1 {
font-size: 3rem;
color: #07002a;
text-decoration: underline;
margin-left: 35%
}

.modal-background h2 {
font-size: 2.4rem;
color: #07002a;
}

.modal-background p {
font-size: 1.4rem;
color: #07002a;
padding-left: .5rem;
}

li {
margin-bottom: 10px;
}

.follow-list {
    padding: 10px;
}

.connections-user-format {
    display: flex;
    flex-direction: row;
    align-items: center;
}