.about-us {
    width: 100%;
    padding: 6rem 1rem;
    background-color:rgb(64, 35, 107);

}


.card-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    display: flex;
    justify-content: center;
}

.card-container .card {
    border: 1px solid #eee;
        align-items: center;
}

.card {
    text-align: center;
    padding: 1rem;
    background-color: rgb(102, 73, 147);
}

.card:hover {
    background-color: #4d378b;

}

.card h3 {
    font-size: 1.8rem;
    padding: 1rem;
}

.card .team-member {
    border-bottom: 1px solid #eee;
    width: 10%;
    margin: 1.5rem auto;
    display: block;
}

.card .person {
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem;
}

.about-us p {
    color: #eee;
    padding: 1rem 0;
    font-size: 1.2rem;
}

.card .btn {
    display: block;
    width: 80%;
    margin: 2rem auto;
}

.card p {
    font-size: 41px;
}

.flaw {
    font-style: italic;
}

.heading h1{
    font-size: 100px;
    color: white;
}

.heading p {
    font-size: 50px;
    font-style: bold;
    color: white;
}
@media screen and (max-width: 980px) {
    .card-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}