.login-form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 400px 0 90px 0 ;
    text-align: center;
    margin-bottom: 5%;
}

.login-form {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 40%;
    box-shadow: 15px 15px 15px 15px rgb(38, 51, 130);
    padding-top: 30px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
}

.username-section,  .password-section {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.user-input-sections {
    height: 250px;
    width: 25px;
    position: absolute;
    padding: 4px 0 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-section h1, .login-form-section p {
    color: black;
    font-weight: bold;
}

.login-form-section h1 {
    font-size: 3rem;
    padding-top: 5%;
}

input{
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #f1f1f1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding-left: 30px;
    font-size: 20px;
    cursor: pointer;
}

button {
    width: 100px;
    border:none;
    height: 45px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: #EF9645;
    font-size: 1.2rem;
    font-weight: bold;
}

.login-button {
    padding: 2%; 
}

.error-message p  {
    color: red;
    display: flex;
    flex-direction: row;
}
.links {
    font-size: 20px;
    font-weight: 400px;
    display: inline-block;
    margin-top: 50px;
    width: 500px;

}

.links a {
    text-decoration: underline;
}

.login-form-section a {
    color: #07002a;
}


@media screen and (max-width:1240px) {

    .login-form-section {
        margin: auto;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        top: 0;
        text-align: center;
        width: 100%;
        height: 100vh;
        transition: 0.4s;
        z-index: -1;
    }
}