/* Profile slap styling */
.slap-component {
   display: flex;
   flex-direction: column;
   justify-content:left;
   margin: 30px;
   height: 250px;
   width: 100rem;
   padding: 30px;
   background-color: rgb(253, 253, 236);
   border-radius: 10px; 
}

.profile-list-of-slaps {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 30px;
}
.user-profile-details {
   display: flex;
   flex-direction: row;
}
.user-profile-details p {
   font-size: 2rem;
   font-weight: 300;
}
.user-profile-details img {
   border-radius: 70px;
   margin-right: 30px;
  
}
.user-slap-contents {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

/* Timeline slap styling */
.timeline-list.of.slaps {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin: 30px;
   height: 300px;
   width: 90%;
   padding: 20px;
   border-radius: 10px;
}

.timeline-slap-component {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin: 30px;
   height: 250px;
   width: 100rem;
   padding: 30px;
   background-color: rgb(253, 253, 236);
   border-radius: 10px;
}

.timeline-user-profile-details {
   display: flex;
   flex-direction: row;
}

.timeline-user-profile-details p {
   font-size: 2rem;
   font-weight: 300;
   color: black;
}

.timeline-user-profile-details img {
   border-radius: 70px;
   margin-right: 30px;
  
}
.timeline-user-slap-contents {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.tl-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 30px;
}

.timeline-user-slap-contents p{
   color:black;
}
