.bio-component {
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    padding-bottom: 2%;
    align-items: center;
    text-align: center;
    background-color: rgb(59, 70, 139);
}

.bio-profile-picture {
    display: flex;
    align-items: flex-start;
}

.bio-profile-picture img {
    border-radius: 50px;
}

.profile-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
} 
.profile-details h1 {
    margin: 30px;
    /* margin-left: 30px; */
    /* margin-top: 30px; */
    font-size: 4rem;
}

#connections-button {
    margin-left: 40px;
    margin-right: 10px;
    width: 210px;
    font-size: 1.4rem;
    font-weight: 100;
    height: 68px;
}

#user-bio {
    font-size: 2rem;
    margin-left: 30px;
    padding-top: 30px;
}

/* .bio-button {
    margin-left: 10px;
        width: 120px;
    border: none;
    height: 45px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: #EF9645;
    font-size: 1.2rem;
    font-weight: bold;
} */


/* ---------- Player ---------- */
/* .player-component {
    background-color: beige;
    width: 25%;
    max-width: 600px;
    margin: 1em auto;
    padding-bottom: 2em;
    border: 0.1px solid black;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}

.musicImage {
    border-radius: 10%;
    align-content:center;
    align-items: center;
    width: 80%;
}

.playButton {
    border: none;
    align-items: center;
    box-shadow: none;
    width: 3em;
    height: 3em;
    background-color: beige;;
}

.songTitle {
    font-size: xx-large;
    color: black;
    margin-bottom: 15px;
}

.artistSubTitle {
    margin-top: -1em;
    color: black;
}

.time {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: smaller;
}

.time p{
    color: black;
}

.timeline {
    width: 80%;
    background-color: #27ae60;
    box-shadow: none;
    padding-left: 0;
}


input[type="range"] {
    background-color: #27ae60;
}

@media (max-width: 900px) {
    .player-component, .musicImage{
        width: 70%;
    }
}


#follow-unfollow-update-bio-button {
    margin-left: 40px;
    margin-top: 20px;
    width: 150px;
    height: 70px;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 15px;
    
} */
