.bio-component {
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    padding-bottom: 2%;
    align-items: center;
    background-color: rgb(59, 70, 139);
}

.bio-profile-picture {
    display: flex;
    align-items: flex-start;
}

.bio-profile-picture img {
    border-radius: 50px;
}

.profile-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
} 
.profile-details h1 {
    margin: 30px;
    /* margin-left: 30px; */
    /* margin-top: 30px; */
    font-size: 4rem;
}

#connections-button {
    margin-left: 40px;
    margin-right: 10px;
    width: 210px;
    font-size: 1.4rem;
    font-weight: 100;
    height: 68px;
}

#user-bio {
    font-size: 2rem;
    margin-left: 30px;
    padding-top: 30px;
}


#follow-unfollow-update-bio-button {
    margin-left: 40px;
    margin-top: 20px;
    width: 150px;
    height: 70px;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 15px;
    
}