.bio-component {
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    padding-bottom: 2%;
    align-items: center;
    text-align: center;
    background-color: rgb(92, 127, 193) ;
}

button{
    margin-left: 20px;
    margin-right: 10px;
    width: 210px;
    font-size: 1.4rem;
    font-weight: 700;
    height: 68px;
    background-color:rgb(59, 70, 139);
    border-radius: 100px;
    border: none;
    cursor: pointer;
    color: white;
}

button:hover{
    background-color: orange;
    transition-duration: 0.5s;
}

.bio-profile-picture {
    display: flex;
    align-items: flex-start;
}

.bio-profile-picture img {
    border-radius: 50px;
}

.profile-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

.profile-details h1 {
    margin: 30px;
    /* margin-left: 30px; */
    /* margin-top: 30px; */
    font-size: 4rem;
}

#connections-button {
    margin-left: 20px;
    margin-right: 10px;
    width: 210px;
    font-size: 1.4rem;
    font-weight: 700;
    height: 68px;
    background-color:rgb(59, 70, 139);
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

#connections-button:hover{
    background-color: orange;
    transition-duration: 0.5s;
}

.profile-button-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

#user-bio {
    font-size: 2rem;
    margin-left: 30px;
    padding-top: 30px;
}

#follow-unfollow-update-bio-button {
    margin-left: 40px;
    margin-right: 10px;
    width: 250px;
    font-size: 1.4rem;
    font-weight: 100;
    height: 68px;
    background-color: rgb(59, 70, 139);
    border-radius: 100px;
    cursor:pointer;
    font-weight: bold;
}


#follow-unfollow-update-bio-button:hover {
background-color: orange;
transition-duration: 0.5s;
}

.modal-background {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
backdrop-filter: blur(4px);
display: flex;
align-items: center;
justify-content: center;
}

.modal-content {
background-color: white;
opacity: 80%;
padding: 20px;
width: 70rem;
height: 50rem;
border-radius: 8px;
}

.modal-close {
position: absolute;
top: 20%;
right: 27%;
background-color: rgb(118, 134, 234);
border-radius: 18px;
font-size: 24px;
cursor: pointer;
color: white;
width: 5rem;
height: 2.3rem;
}

.modal-background h1 {
font-size: 3rem;
color: #07002a;
text-decoration: underline;
margin-left: 35%
}

.modal-background h2 {
font-size: 2.4rem;
color: #07002a;
}

.modal-background p {
font-size: 1.4rem;
color: #07002a;
padding-left: .5rem;
}

li {
margin-bottom: 10px;
}

.follow-list {
    padding: 10px;
}

.connections-user-format {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* update user detail modals: */
.update-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .update-modal-content {
  background-color: white;
  opacity: 80%;
  padding: 20px;
  width: 70rem;
  height: 15rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  
  .update-modal-background p {
    color: black;
    font-size: 1.4rem;
    margin-top: 1rem;
  }

  .update-modal-background h2 {
    color: black;
    font-size: 2rem;
  }

  #confirm-delete-user-button {
    color: red;
    font-weight: 700;
  }

  .delete-user-modal-buttons button {
    margin: 2%;
    color: white;
    width: 150px;
    border:none;
    height: 35px;
    margin-top: 1rem;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
    background-color: #49c9f0;
    font-size: 1.2rem;
    font-weight: bold;
    border:none;
  }


  .modal-close {
  position: absolute;
  top: 20%;
  right: 27%;
  background-color: rgb(118, 134, 234);
  border-radius: 18px;
  font-size: 24px;
  cursor: pointer;
  color: white;
  width: 5rem;
  height: 2.3rem;
  }
  
  .modal-background h1 {
  font-size: 3rem;
  color: #07002a;
  text-decoration: underline;
  margin-left: 35%
  }
  
  .modal-background h2 {
  font-size: 2.4rem;
  color: #07002a;
  }
  
  .modal-background p {
  font-size: 1.4rem;
  color: #07002a;
  padding-left: .5rem;
  }
  
  li {
  margin-bottom: 10px;
  }
  
  .follow-list {
      padding: 10px;
  }
  
  .connections-user-format {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .delete-button {
    margin-right: 10px;
    margin-top: 10px;
    width: 150px;
    font-size: 1.4rem;
    font-weight: 100;
    height: 40px;
    /* background-color: orange; */
    border-radius: 100px;
    font-weight: 700;
  }

  .delete-button{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.delete-button button:hover{
    background-color: hotpink;
}

