.signin-form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 400px 0 90px 0 ;
    text-align: center;
    margin-bottom: 5%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-form {
    display: flex;
    justify-content: center;
    height: 700px;
    width: 40%;
    box-shadow: 15px 15px 15px 15px rgb(38, 51, 130);
    padding-top: 30px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
}

.email-section, .username-section,  .password-section, .confirm-password-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.signin-user-input-sections {
    height: 300px;
    width: 25px;
    position: absolute;
    padding: 4px 0 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-form-section h1, .signin-form-section p {
    color: #07002a;
}

.signin-form-section h1 {
    font-size: 3rem;
    padding-top: 5%;
}

input{
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #f1f1f1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding-left: 30px;
    font-size: 20px;
    cursor: pointer;
}

input:hover {
    font-size: larger;
    font-weight: bolder;
}

.signin-button {
    width: 120px;
    border: none;
    height: 45px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: #EF9645;
    font-size: 1.2rem;
    font-weight: bold;
}

.signin-button:hover {
    width: 130px;
    height: 50px;
}
.login-link-from-signup{
    color: rgb(38, 51, 130);
    text-decoration: underline;
    text-decoration-color: #EF9645;
}


.terms {
    font-size: 1.4rem;
    font-weight: 400px;
    display: inline-block;
    margin-top: 40px;
    width: 500px;
}

.terms p {
    color: rgb(25, 128, 168);
}

@media screen and (max-width:1240px) {

    .signup-form-section {
        margin: auto;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        top: 0;
        text-align: center;
        width: 100%;
        height: 100vh;
        transition: 0.4s;
        z-index: -1;
    }
}